{% extends "layout.html" %}

{% block title %}
    Report History
{% endblock %}
{% block main %}
    {% if report_history %}
        <table class ="table table-striped" style="text-align:left; white-space: pre-line;">
            <thead>
                <tr>
                    <th>Report Date</th>
                    <th>Report</th>
                </tr>
            </thead>
            <tbody>
                {% for rows in report_history %}
                    <tr>

                        {% for key, value in rows.items() %}
                            <td>
                                {{ value }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no reports yet. Go to the main page and get your report.</p>
    {% endif %}
{% endblock %}
